:root {
  scroll-behavior: smooth;

  /* VARS */

  --PREV-C: aliceblue;
  --PREV-H2-C: rgb(185, 46, 4);
  --PREV-H3-C: rgb(156, 42, 78);
}

#root {
  min-height: 100vh;
}

body {
  background: linear-gradient(rgba(103, 59, 148, 0.568), rgba(0, 0, 0, 0.646));
  background-attachment: fixed;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: clamp(0.2rem, 0.5rem, 2rem);
  padding-top: 1rem;
}

.fields {
  width: clamp(300px, 100%, 100%);
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: 1fr;
  align-content: start;
  margin: 0.5rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  grid-row: 1/-1;
}

.fieldSection {
  transition: height ease 0.4s;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.h2Button {
  min-height: 5rem;
  font-size: 2rem;
  width: 100%;
  background-color: rgba(102, 51, 153, 0.413);
}
.fieldContent {
  display: flex;
  flex-flow: column;
  margin: 1rem 0.5rem;
}

.innerWrapper {
  transition: height ease 0.2s;
  width: 100%;
  overflow: hidden;
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
.fieldsH3 {
  height: min-content;
}
.h3Button {
  font-size: 1.4rem;
  min-height: 4rem;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.559);
}
.content {
  margin: 0.5rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.inputWrapper {
  display: flex;
  flex-wrap: wrap;
}
label {
  width: 100%;
  font-size: 1.2rem;
  height: 2rem;
  padding-left: 0.5rem;
}
input {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.505);
}
textarea {
  width: 100%;
  height: 6rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  resize: none;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.505);
}

.deleteItem {
  width: 100%;
  height: 3rem;
  font-size: 1.4rem;
  margin: 1rem 0;
  background-color: rgba(148, 3, 3, 0.466);
}
.addItem {
  min-height: 2.5rem;
  width: 100%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 128, 0, 0.58);
}

.btnWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.printBtn {
  width: 7rem;
  height: 3rem;
  background-color: rgba(102, 51, 153, 0.589);
  font-size: 1.5rem;
  margin: 1rem;
}

.clearForm {
  width: 7rem;
  height: 3rem;
  font-size: 1.5rem;
  margin: 1rem;
  background-color: rgba(148, 3, 3, 0.635);
}

.preview {
  width: clamp(300px, 90%, 100%);
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  color: var(--PREV-C);
  padding: clamp(0.3rem, 0.5rem, 2rem);
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-self: start;
  align-items: start;
}
.personalWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.3rem;
  padding-bottom: 0.5rem;
  grid-column: 1/-1;
  grid-row: 1;
}
.previewH2 {
  width: 100%;
  grid-column: 1/ -1;
  justify-self: center;
  color: var(--PREV-H2-C);
  border-bottom: 2px solid;
  text-align: center;
}
.previewH3 {
  grid-column: 1/ -1;
  justify-self: center;
  color: var(--PREV-H3-C);
}
.previewData {
  display: grid;
  grid-template-rows: min-content min-content;
  margin: 0.2rem 0;
}
.previewDesc {
  white-space: pre-wrap;
}
.personalWrapper .previewDesc {
  grid-column: 1/ -1;
  grid-row: 3/4;
  margin: 0.5rem 0;
}

.previewSkillsWrapper {
  padding: 0.5rem;
  display: grid;
}

.previewLinkWrapper,
.previewSkillWrapper {
  list-style: none;
  padding: 0.5rem;
}
.previewExpsWrapper {
  grid-row: 2;
}
.previewEdsWrapper {
  grid-row: 3;
}

.previewEdsWrapper,
.previewExpsWrapper {
  padding: 0.5rem;
  display: grid;
}

.previewExpsWrapper li {
  list-style: none;
}
.previewExpWrapper,
.previewEdWrapper {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.previewEdWrapper p:first-of-type,
.previewExpWrapper p:first-of-type {
  grid-column: 1/2;
}
.previewEdWrapper p:nth-of-type(2),
.previewExpWrapper p:nth-of-type(2) {
  grid-column: 1/2;
}
.previewEdWrapper p:nth-of-type(3),
.previewExpWrapper p:nth-of-type(3) {
  grid-column: 2/3;
}
.previewEdWrapper p:nth-of-type(4),
.previewExpWrapper p:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 2;
}
.previewEdWrapper p:nth-of-type(5),
.previewExpWrapper p:nth-of-type(5) {
  grid-column: 1/-1;
}
.previewLinksWrapper {
  display: grid;
  padding: 0.5rem;
  line-break: anywhere;
  grid-column: 2;
}

.previewEdsWrapper {
  margin-bottom: 3rem;
}

.previewSndCol {
  grid-column: 2;
  grid-row: 2 / 4;
}

@media (max-width: 426px) {
  main {
    grid-template-columns: 1fr;
  }
  .preview {
    border-top: 3px solid aliceblue;
    width: 100%;
    display: block;
  }
  .previewData {
    grid-column: 1/-1;
  }
  .previewLinksWrapper,
  .previewSkillsWrapper,
  .previewExpsWrapper,
  .previewEdsWrapper {
    padding: 0.5rem 0;
  }

  .previewLinksWrapper ul,
  .previewSkillsWrapper ul {
    display: block;
  }
  .previewSkillsWrapper li {
    margin: 0 1rem;
    list-style: disc;
  }
  .previewLinksWrapper li {
    margin: 0 1rem;
    list-style: disc;
  }

  .previewEdsWrapper li,
  .previewExpsWrapper li {
    list-style: disc;
  }
}

@media screen and (min-width: 770px) {
  main {
    width: clamp(70%, 80%, 90%);
    margin: 0 auto;
  }
}

@media print {
  @page {
    margin: 0;
  }
  main {
    grid-template-columns: 1fr 2fr;
  }
  .preview {
    width: clamp(300px, 90%, 100%);
    display: grid;
  }
  .previewData {
    grid-column: auto;
  }
  .previewLinksWrapper,
  .previewSkillsWrapper,
  .previewExpsWrapper,
  .previewEdsWrapper {
    padding: 0.5rem;
  }

  .previewLinksWrapper ul,
  .previewSkillsWrapper ul {
    display: block;
  }
  .previewSkillWrapper {
    padding: 0.5rem;
    list-style: none;
  }
  .previewLinkWrapper {
    padding: 0.5rem;
    list-style: none;
  }

  .previewEdWrapper,
  .previewExpWrapper {
    list-style: none;
  }

  .preview {
    grid-column: 1/ -1;
    color: black;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  .fields {
    display: none;
  }
  .printBtn {
    display: none;
  }
  .previewEdsWrapper {
    margin-bottom: 0;
  }
}

/* SCROLLBAR */

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 11px;
}
textarea,
body {
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple;
}
textarea::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: hsl(0, 0%, 7%);
}
textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rebeccapurple;
  border-radius: 6px;
  border: 1px solid black;
}
